* {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mytitle {
    color: #6D29F6;
    font-size: 2rem;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    }

.wrap {
    margin: auto;
    width: 300px;
    }


.mybtn {
    text-align: center;
    display: inline-block;
}

.log-in input[type="text"] {
    width: 100%;
    max-width: 300px; /* 적당한 최대 너비를 설정 */
    padding: 10px;
    font-size: 1em;
}

