<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나습달</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-200">
    <div class="max-w-[420px] bg-white h-screen m-auto">
        <header class="relative px-12 py-8 flex justify-between items-center">
            <ul class="flex-1">
                <li>
                    <a href="/">
                        <img src="/static/images/나습달.png" alt="나습달 logo">
                    </a>
                </li>
            </ul>
            <ul class="flex gap-2 items-center text-sm">
                {% if not type == 'enroll' %}
                <li>
                    <a href="/enroll"
                        class="flex gap-2 items-center border rounded-md py-2 px-4 border-[#6D29F6] text-[#6D29F6]">
                        <img src="/static/images/plus.png" alt="plus">
                        <span>등록하기</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <button class="flex gap-2 items-center rounded-md py-2 pl-4 text-[#8F9BB3]">
                        <img src="/static/images/hamberger.png" alt="hamberger">
                        <span>메뉴</span>
                    </button>
                </li>
            </ul>
            {% if type == 'enroll' %}
            <div class="text-xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                나쁜 습관 목록
            </div>
            {% endif %}
        </header>
        {% block content %}{% endblock %}
    </div>
</body>

</html>