<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나습달</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-200">
    <div class="w-[420px] bg-white h-screen m-auto">
        <header class="px-12 py-8 flex justify-between items-center">
            <ul>
                <li><img src="/static/images/나습달.png" alt="나습달 logo"></li>
            </ul>
            <ul class="flex gap-2 items-center text-sm">
                <li><a href="#" class="border rounded-md py-2 px-4 border-[#6D29F6] text-[#6D29F6]">등록하기</a></li>
                <li><button href="#" class="rounded-md py-2 px-4 text-[#8F9BB3]">메뉴</button></li>
            </ul>
        </header>
    </div>
</body>

</html>